*.iml
.gradle
/local.properties
/.idea/caches
/.idea/vcs.xml
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
app/java/res/values/strings.xml
/app/src/main/res/values/strings.xml
